---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Profile from "../components/Profile.astro";
import Tools from "../components/Tools.astro";
import Projects from "../components/Projects.astro";
import BlogList from "../components/BlogList.astro";
import Certifications from "../components/Certifications.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <Profile />
    <Tools />
    <Projects />
    <BlogList />
    <Certifications />
  </main>
  <Footer />
</Layout>
