---
import {CV_DATA} from '../data/cv';
import WorkItem from "./WorkItem.astro";

const {work} = CV_DATA;
---
<section class="flex min-h-0 flex-col gap-y-3 print:gap-y-1">
    <h2 class="text-xl font-bold" id="work-experience">Work Experience</h2>
    {work.map((item) => (
            <WorkItem {...item}/>
    ))}
</section>